<div class="container p-4 ">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                    <div class="form-group">
                            <input type="text" class="form-control" name="nombrep" placeholder="nombre" autofocus>        
                        </div>
                        </br>
                        <div class="form-group">
                            <input type="number" class="form-control" name="edadp" placeholder="Edad" >        
                        </div>
                        
                        </br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="eps" placeholder="Eps Afiliado" >   
                        </div>
                        </br>
                         <div class="form-group">
                            <input type="anio" class="form-control" name="anioingres" placeholder="Año de Ingreso" >   
                        </div>
                        </br>
                         <div class="form-group">
                            <button class="btn btn-success btn-block">Registrar Paciente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>