</br>
<div class="container-p4">
    <div class="row">
        {{#each lpaciente}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">

                    <h3 class="card-title text-uppercase">
                        Paciente, {{nombrep}}
                    </h3>
                    <span style="font-size: 48px;"><i class="fas fa-user"></i></span>
                    </br>

                    <p class="m-2"> {{edadp}}</p>
                    <p class="m-2"> {{eps}}</p>
                    


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>